@model ex1.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul>
    <li> MembershipType: @Model.Name</li>
    @if (Model.BirthDate.HasValue)
    {
    <li> Birthdate: @Model.BirthDate.Value.ToShortDateString() </li>
    }
</ul>
